.button-main
  background: $accent-color-third
  color: #fff
  font: 400 13px/30px Montserrat, serif
  font-size: 13px
  text-transform: uppercase
  letter-spacing: -0.13px
  padding: 14px 25px
  border-radius: 30px
  border: 2px solid $accent-color-third
  &:hover
    background: #fff
    border-color: $accent-color-third
    color: $accent-color-third

