$accent-color: #ef961a
$accent-color-second: #3db6e7
$accent-color-third: #40d53a
$footer-bg-color: #272829

$default-font: 400 15px/28px "Domine", sans-serif
$gray: #e8eff1




$header-and-footer-bg: #333333
$header-and-footer-text-color:  #999999
$bg-color: #f8f8f8




//$button-font: 600 16px/21px "Montserrat", sans-serif
//
//$transition: all 0.5s ease
//
//$fa-font-path: "../../fonts/FontAwesome"
//
//$container-max-widths: (sm: 540px,md: 720px,lg: 960px,xl: 1170px)
//$font-family-base: "Montserrat", serif
//$font-size-base: 0.875rem

