body
  min-height: 100%
  display: flex
  flex-direction: column
  font: $default-font

  p
    color: #838b8c

.wrapper
  flex: 1 0 auto //Footer always in bottom

//.upper-text
//  text-transform: uppercase
//
//.full-opacity
//  opacity: 1
//
//.half-opacity
//  opacity: 0.5
//
//.accent-text
//  color: $accent-color
//
//.accent-bg
//  background: $accent-color
//
//h3
//  color: $gray
//  font: 600 12px/20px Montserrat, serif
//  text-transform: uppercase
//
//h2
//  color: $gray
//  font: 700 40px/42px Montserrat, serif
//  text-transform: uppercase
//  letter-spacing: 2.4px
//
//a:focus, a:hover
//  text-decoration: none
//  color: inherit
//
//.btn:focus, .btn.focus
//  box-shadow: none
//
//button:focus
//  outline: none
